/* 头部 */
.contaion{
    margin: 0 auto;
    width: 1000px;
}
#header{
    background: #25282d;
}
.header_inner{
    height: 75px;
    background: #25282d;
    display: flex;
    justify-content: space-between;
    align-items: center;
   
}
.logo a{
    display: block;
    width: 127px;
    height: 52px;
    background: url(../images/logo.jpg)no-repeat;
}
.headrig{
    width: 546px;
}
.headrig ul{
    display: flex;
    justify-content: space-between;
    color: #696a6e;
    font-size: 14px;
    position: relative;
}
.headrig ul li{
    width: 74px;
    height: 56px;
    line-height: 56px;
    text-align: center;
}

.headrig ul li .a01,.a02{
    position: absolute;
    top: 66px;
    left: 113px;
    width: 426px;
   /*  height: 104px; */
    background: #292f34;
    color: #fff;
    font-size: 16px;
    line-height: 86px;
    display: none;
    text-align: center;
    z-index: 10;
}
.headrig ul li .a02{
    top: 130px;
    left: 113px;
    height: 72px;
    line-height: 72px;
    display: none;
}
.headrig ul .ass:hover a{
    display: block;
    height: 66px;
    background: #292f34;
}
.headrig ul li:hover .a01{
    display: block;
}
.headrig ul li:hover .a02{
    display: block;
}
.headrig ul .li01{
    position: relative;
}
.headrig ul .li01 .dtop{
    width: 248px;
    height: 396px;
    background: #292f34;
    position: absolute;
    top: 62px;
    left: -106px;
    padding: 0 22px;
    box-sizing: border-box;
    display: none;
    z-index: 10;
}
.headrig ul .li01 .dtop a{
  /*   border-bottom: 1px solid #3f4449;  */
    display: inline-block;
    height: 66px;
    width: 208px;
    line-height: 20px;
    padding: 22px 0;
    box-sizing: border-box;
}
.headrig ul .li01 .dtop a i{
   margin-left: 162px;
}
.headrig ul li a{
  color: #cbcddc;
}
.headrig ul .li01:hover .dtop{
    display: block;
}
/* 导航 */
#nav{
    height: 48px;
    border-bottom: 4px solid #ededed;
    display: flex;
    justify-content: space-between;
    align-items: center; 
    background: #fff;
    position: sticky;
    position: -webkit-sticky;   /* 兼容 -webkit 内核的浏览器 */
    top: -1px;  
}
#nav ol{
    width: 600px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
}
#nav ol li:nth-child(2){
    position: relative;  
}
#nav ol li a{
    display: block;
    width: 118px;
    height: 48px;
    text-align: center;
    line-height: 48px;
}
#nav ol li:hover{
    height: 48px;
    line-height: 48px;
    border-bottom: 4px solid #25282d;
} 

/* 菜单 */
#nav ol .menu{
    position: relative;
    width: 1000px;
    height: 500px;
    background: #fff;
    position: absolute;
    top: 52px;
    left: -120px;
    display: none;
    
}
#nav ol .menu .dl01{
    display: block !important;
    width: 678px;
    height: 500px;
    
}
#nav ol .dl01 dl img{
    width: 60%;
}
#nav ol .dl01 dl{
    width: 85px;
    height: 50px;
    float: left;
    margin-top: 34px;
}  
#nav ol .dl01 dl dd .las{
    margin-top: -22px;
    margin-left: -44px;
    font-weight: bold;
}
#nav ol .bna1,.bna2{
    float: left;
   margin-top: 100px;
}
#nav ol:hover .bna1,.bna2{
    border: 0;
}
#nav ol .menu .num{
    float: right;
    position: absolute;
    top: 45px;
    right: 5px;
}
#nav ol .menu dl{
    position: relative;
    margin-left: 20px;
 
}
.dl01 dl:nth-child(1) .tow{
    width: 687px;
    height: 100px;
    border-top: 1px solid #ccc;
    position: absolute;
    top: 50px;
    left: 0;
}
#nav ol .menu .num img{
    display: block;
}
#nav ol .menu .num span{
    margin-right: 40px;
}
/* 杂志菜单 */
#nav ol .za,.fen{
    position: relative;  
}
#nav ol .menu2,.menu3{
    width: 1000px !important;
    height: 200px;
    background: #fff;
    position: absolute;
    top: 52px;
    left: -240px;
    display: none;
    z-index: 80;
}
#nav ol li:hover .menu2 a,.menu3 a{
    border: 0;
}
#nav ol li .menu2 a,.menu3 a{
    float: left;
}
/* 分享菜单 */
#nav ol .menu3{
    position: absolute;
    top: 52px;
    left: -360px;
}
/* #nav ol li:hover .menu3 a{
    border: 0;
}
#nav ol li .menu2 a{
    float: left;
} */

#nav .txt{
 width: 288px; 
  
    float: left;
    box-sizing: border-box;
    border: 0;
    border-left: 1px solid #000;
    color: #ccc;
    font-weight: bold;
    font-size: 18px;
}


#nav .sub{
    float: left;
    width: 46px;
    height: 24px;
    background: url(../images/sesch.jpg)no-repeat center center;
    border: 0;
    border-left: 1px solid #ccc;
}
/* banner */
#banner a img{
    width: 1000px;
    margin-top: 36px;
}
.all{
    height: 60px;
    padding-left: 414px;
    box-sizing: border-box;
}
#banner{
    position: relative;
}
#banner .rg,.ft{
    width: 50px;
    height: 50px;
    display: block;
    position: absolute;
    top: 230px;
    right: 30px;
    border-radius: 50%;
    display: none;
    background:rgba(000, 000, 000,0.3) url("https://imgs-qn.iliangcang.com/images/default/normal_left.png");
}
#banner .ft{
    display: none;
    left: 30px;
    background:rgba(000, 000, 000,0.3) url("https://imgs-qn.iliangcang.com/images/default/normal_right.png");
}
#banner:hover .ft, .rg{
    display: block;
}
#banner:hover .rg{
    display: block;
}
.all a{
    display: block;
    width: 28px;
    height: 6px;
    background: #eaeaea;
    float: left;
    margin: 14px 8px;
}
/* 年货 */
#hoo{
    height: 474px;
    display: flex;
    justify-content: space-between;
}
.boxmin1 a img{
    margin: 30px 0;
}
/* 扫码 */
.qn{
    position: fixed;
    top: 124px;
    right: 0;
    z-index: 1;
}
.dan{
    color: red;
    position: fixed;
    top: 128px;
    right: 14px;
    z-index: 2;
    font-size: 28px;
    cursor:pointer;
}
/* 人气良品 */
#maxbox{
    min-height: 2700px;
}

#maxbox ol{ 
    display: flex;
    justify-content: space-between;
    flex-flow: wrap;
}
#maxbox h3{
    height: 56px;
    text-align: center;
    border-bottom: 2px solid #e6e6e6;
    margin-bottom: 50px;
}
#maxbox ol li{
    display: block;
    width: 316px;
    height: 366px;
    margin-bottom: 26px;
}
#maxbox .ann{
    display: block;
    width: 138px;
    height: 42px;
    border: 2px solid #000;
    margin: 98px auto;
    text-align: center;
    line-height: 42px;
    font-weight: bold;
    font-style: italic;
}
#maxbox .ann:hover{
    background: #000;
    color: #fff;
}
.opp li .a4{
    margin-left: 160px;
    font-size: 18px;
    color:#cccccc ;
    font-weight: normal;
}
.opp li .a5 img{
    width: 40px;
    height: 40px;
    box-shadow: 7px 4px 6px -3px #cccc;
}
.opp li strong .a5{
    color: #cccccc;
}
.opp li strong{
    display: block;
    margin-top: 20px;
}
/* 划过 */
.opp li{
    position: relative;
}
.opp li .over{
    width: 300px;
    height: 300px;
    background:rgba(72, 72, 72, 0.7);
    position: absolute;
    top: 0;
    left: 0;
    display: none;
    z-index: 7;
}
.opp li:hover .over{
    display: block;
}
li .over .money{ 
    color: #0c6eba;
    font-size: 16px;
    font-weight: bold;
    font-style: italic;
    margin: 16px 0 76px 10px;
}
li .over .tle{
    color: #ffffff;
    font-size: 14px;
    font-weight: bold;
    text-align: center;
    line-height: 20px;
}
li .over .des{
    color: #ffffff;
    font-size: 12px;
    text-align: center;
    line-height: 26px;
}
/* 返回顶部 */
#fnn{
    width: 50px;
    height: 50px;
    background: rgba(000, 000, 000,0.7);
    position: fixed;
    bottom: 30px;
    right: 10px;
    text-align: center;
    line-height: 45px;
 
}
.topa{
    font-size: 50px;
}